<div class="rounded-lg bg-card px-8 py-8 shadow-custom">
  <h3 class="text-md font-bold text-foreground mb-4">Teams</h3>
  <div class="relative overflow-x-auto">
    <table class="w-full table-auto">
      <thead class="text-xs uppercase text-muted-foreground">
        <tr>
          <th class="py-3 text-left">Name</th>
          <th class="py-3 text-left">Lead</th>
          <th class="py-3 text-center">Members</th>
          <th class="py-3 text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let team of teams(); trackBy: trackById"
          class="border-b border-dashed border-border hover:bg-card"
        >
          <td class="py-3 text-left">{{ team.name }}</td>
          <td class="py-3 text-left">{{ team.teamLeadName }}</td>
          <td class="py-3 text-center">{{ team.memberCount }}</td>
          <td class="py-3 text-right">
            <button (click)="deleteTeam(team.id)" class="rounded-full bg-transparent p-1 hover:bg-destructive/10">
              <svg-icon [src]="getIconPath('x-mark')" svgClass="h-4 w-4 text-destructive"></svg-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>