<div class="chat-header bg-card">
  <div class="flex items-center justify-between p-1 rounded text-foreground w-full">
    <div class="flex items-center gap-2">
      <img [src]="avatar() || 'assets/profile/avatar-default.svg'" alt="Recipient" class="w-10 h-10 rounded-full" />
      <span class="font-semibold">{{ recipient() }}</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary-foreground cursor-pointer" fill="none"  stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m-7-7h14" />
    </svg>
  </div>
</div>