<div class="flex-1 overflow-y-auto">
  <ul>
    <li *ngFor="let chat of chats()" class="chat-item-hover group" (click)="chatSelected.emit(chat)">
      <img [src]="chat.avatar || 'assets/profile/avatar-default.svg'" alt="User" class="w-8 h-8 rounded-full" />
      <div>
        <p class="chat-item-text">{{ chat.name }}</p>
        <p class="text-sm text-muted-foreground">{{ chat.snippet }}</p>
      </div>
      <span class="ml-auto text-xs text-muted-foreground">{{ chat.timestamp | date:'shortTime' }}</span>
      <button (click)="chatDeleted.emit(chat.id); $event.stopPropagation()" class="delete-btn" aria-label="Delete chat">
        <svg-icon [src]="getIconPath('x-mark')" class="h-4 w-4 stroke-current fill-current text-inherit"></svg-icon>
      </button>
    </li>
  </ul>
</div>