<!-- src/app/features/contacts/contacts-table-item/contacts-table-item.component.html -->
<td class="py-3 text-left">
  <div class="flex items-center gap-3">
    <img *ngIf="contact.profileImageKey" [src]="contact.imageUrl" class="w-10 h-10 rounded" alt="Profile"> <!-- Use precomputed URL -->
    <div class="flex-col">
      <span class="font-medium text-foreground">{{ contact.firstName }} {{ contact.lastName }}</span>
      <span class="text-xs text-muted-foreground block">{{ contact.username }}</span> <!-- ID under contact name -->
    </div>
  </div>
</td>
<td class="py-3 text-right text-foreground">{{ contact.email }}</td>
<td class="py-3 text-right text-muted-foreground">{{ contact.dateAdded | date:'short' }}</td>
<td class="py-3 text-right">
  <button (click)="deleteContact()" class="rounded-full bg-transparent p-1 hover:bg-destructive/10">
    <svg-icon [src]="getIconPath('x')" svgClass="h-4 w-4 text-destructive"></svg-icon>
  </button>
</td>